tallerxml/lliga.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="futbol">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="jornada">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="partit">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="dia" type="xs:string" />
                    <xs:element maxOccurs="unbounded" name="equip">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="nom" type="xs:string" />
                          <xs:element name="resultat" type="xs:unsignedByte" />
                          <xs:element name="gols">
                            <xs:complexType>
                              <xs:sequence minOccurs="0">
                                <xs:element maxOccurs="unbounded" name="jugador" type="xs:string" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="juga" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="num" type="xs:unsignedByte" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="num" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>